---
layout: default
thispage: umrah
---

{% include slider-home.html %}

<div id="homepage">
    <div class="container">
        <h2 class="text-center">MARCO Umrah Paket Hemat</h2>
        <p class=" text-center mb-40">Beribadah ekonomis tanpa perlu khawatir.</p>
        <div class="row home-last-feature">
            <div class="col-xs-12 col-md-8 area-picture" style="background-image: url({{site.baseurl}}/images/main-promo.jpg);height: 375px;background-position: center center;background-size: cover;position:relative;padding-right:0">
                <div class="ribbon right_ribbon" style="right:-10px">
                    <span>PALING EKONOMIS</span>
                </div>
                <a href="https://www.youtube.com/watch?v=Ig19gH7BUUM" data-effect="mfp-3d-unfold" class="play-button embaded-popup">
                    <span class="pb-border-1">
                        <span class="pb-border-2">
                            <i class="fas fa-play"></i>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-xs-12 col-md-4 area-text">
                <p class="fitur-hotel-txt">Paket Paket Hemat, Aman dan Nyaman</p>
                <p class="hidden">Dapatkan penawaran terbaik dan terpercaya hanya bersama MARCO umrah dan Haji, terafiliasi oleh hotel dan penerbangan terbaik.</p>
                <p>Marco Umrah Haji dan Travel berpengalaman mengantarkan tamu-tamu Allah sejak tahun 2004. Memberikan harga terbaik dan sesuai standar Kementerian Agama Indonesia.</p>
                <a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" class="button-primary" target="_blank">BOOK KEBERANGKATAN</a>
            </div>
        </div>

        <div class="tix-point-highlight">
            <h2>MARCO Umrah Reguler</h2>
            <p>Beribadah tanpa gelisah bersama MARCO reguler.</p>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="point-item">
                        <a href="">
                            <div class="ribbon right_ribbon">
                                <span>TERPOPULER</span>
                            </div>
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-reguler.jpg">
                            <h4>Umrah Reguler</h4>
                            <h3>Rp 24.500.000</h3>
                            <p>Umrah paket 9 hari.</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="point-item">
                        <a href="">
                            <div class="ribbon right_ribbon">
                                <span>REGULER</span>
                            </div>
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-dua-jumat.jpg">
                            <h4>Umrah 2 Jumat</h4>
                            <h3>Rp 27.750.000</h3>
                            <p>Umrah paket 13 hari.</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tix-point-highlight">
            <h2>MARCO Umrah Plus</h2>
            <p>Beribadah hati sekaligus merefleksikan diri bersama MARCO umrah plus.</p>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-alexandria.jpg">
                            <h4>Umrah Plus Alexandria</h4>
                            <h3>Rp 32.940.000</h3>
                            <p>Direct Garuda</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                            <h4>Umrah Plus Turki</h4>
                            <h3>Rp 34.400.000</h3>
                            <p>Direct Garuda</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                            <h4>Umrah Plus Yordania</h4>
                            <h3>Rp 41.600.000</h3>
                            <p>Direct Garuda</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-maroko.jpg">
                            <h4>Umrah Plus Maroko</h4>
                            <h3>Rp 35.200.000</h3>
                            <p>Direct Garuda</p>
                            <span class="button-primary">BOOK</span>
                        </a>
                    </div>
                </div>
                <a href="{{site.baseurl}}/paket/" class="button-primary ghost-primary">Lihat Daftar Lengkap</a>
                <!--<a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" class="button-primary ghost-primary">Lihat Daftar Lengkap</a>-->
            </div>
        </div>

        {% include partners.html %}
    </div>
    <hr>
    {% include branches.html %}
    <hr>
    {% include agents.html %}
</div>
