---
layout: default
thispage: umrah
---

{% include slider-home.html %}

<div class="container">
    <div class="row home-last-feature">
        <div class="col-xs-12 col-md-8 area-picture" style="background-image: url({{site.baseurl}}/images/main-promo.jpg);height: 400px;background-position: center center;background-size: cover;">       
            <a href="https://www.youtube.com/watch?v=Ig19gH7BUUM" data-effect="mfp-3d-unfold" class="play-button embaded-popup">
                <span class="pb-border-1">
                    <span class="pb-border-2">
                        <i class="fas fa-play"></i>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 area-text">
            <p class="fitur-hotel-txt">Umrah Terpercaya, Aman dan Nyaman</p>
            <p>Dapatkan diskon ekstra dari berbagai maskapai ternama dengan memesan penerbangan pergi-pulang sekaligus.</p>
            <a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" class="button-primary" target="_blank">Chat Kami</a>
        </div>
    </div>

    <div class="tix-point-highlight">
        <h2>MARCO Umrah Reguler</h2>
        <p>Beribadah tanpa gelisah bersama MARCO reguler.</p>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-reguler.jpg">
                        <h4>Umrah Reguler</h4>
                        <h3>Rp 24.500.000</h3>
                        <p>Umrah paket 9 hari.</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-dua-jumat.jpg">
                        <h4>Umrah 2 Jumat</h4>
                        <h3>Rp 27.750.000</h3>
                        <p>Umrah paket 13 hari.</p>
                    </a>
                </div>
            </div>
            <a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" class="button-primary ghost-primary">Chat Untuk Daftar</a>
        </div>
    </div>

    <div class="tix-point-highlight">
        <h2>MARCO Umrah Plus</h2>
        <p>Beribadah hati sekaligus merefleksikan diri bersama MARCO umrah plus.</p>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-alexandria.jpg">
                        <h4>Umrah Plus Alexandria</h4>
                        <h3>Rp 32.940.000</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                        <h4>Umrah Plus Turki</h4>
                        <h3>Rp 34.400.000</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                        <h4>Umrah Plus Yordania</h4>
                        <h3>Rp 41.600.000</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="point-item">
                    <a href="">
                        <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-maroko.jpg">
                        <h4>Umrah Plus Maroko</h4>
                        <h3>Rp 35.200.000</h3>
                    </a>
                </div>
            </div>
            <a href="https://web.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" class="button-primary ghost-primary">Chat Untuk Daftar</a>
        </div>
    </div>

    {% include partners.html %}
</div>

<div class="posts" style="display:none">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
