---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

header {
  .navbar-header{
    img{
      @include mobile {
        width: 100%;
        height: auto;
      }
    }
    
    @include mobile {
      width:50%; 
    }
  }
}

.play-button {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  .pb-border-1 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.2);
  }

  .pb-border-2 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.5);
  }

  .fas {
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 32px;
    border-radius: 50%;
    background: #ffd700;
    color: #fff;
    display: block;
  }
}

/*********************
* override blog post
**********************/
#blog{
  padding-top:40px;
  padding-bottom:80px;
  h1,h2{
    font-weight:bold;
  }
  h1{
    font-size:32px;
    margin-top:0;
    color:darkgreen;
  }
  h2{
    font-size:24px;
    margin-bottom:30px;
    color:#333;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
  }
  h3{
    font-size:21px;
  }
  small,p{
    margin-bottom:40px;
  }
  p{
    font-size:16px;
    color:#666;
    line-height:24px;
    img{
      max-width: 100%;
      padding: 3%;
      background: #f9f9f9;
    }
  }
  small{
    display:inline-block;
    font-size:13px;
  }
}

/*********************
* override static page
**********************/


div[id*='static-']{
  margin-top:40px;
  margin-bottom:40px;
  h1{
    font-size:26px;
    text-transform: capitalize;
    margin-bottom:40px;
  }
  h2{
    font-size:21px;
    font-weight:bold
  }
}
#static-syarat{
  hr{
    margin-top:40px;
    margin-bottom:40px
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
