---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


.row{
  .col-xs-6:nth-child(odd){
    @include mobile{
      padding-right:7px;
    }
  }
  .col-xs-6:nth-child(even){
    @include mobile{
      padding-left:7px;
    }
  }
}

header {
  .navbar-header{
    img{
      @include mobile {
        width: 95%;
        height: auto;
        margin-top:5px;
      }
    }
    
    @include mobile {
      width:50%; 
    }
  }
  
  .navbar-header.pull-right {
      .navbar-brand.tematic{
        font-weight: bold;
        font-size: 24px;
        color: green;
        line-height: normal;
        height: auto;
        margin-top: 0;
        
        @include mobile {
          font-size:18px;
          display: block;
          width: 100%;
          text-align: right;
        }
      }
    }
}

#nav--bottom {
  .container{
    @include mobile{
      padding:0;
    }
  }
  nav{
    ul.nav.navbar-nav{
      @include mobile {
        width: 100%;
        margin: 0;
        text-align: center;
      }
    }
    ul.nav.navbar-nav.menu-main{
      li{
        a{
          @include mobile{
            font-size: 18px;
          }
        }
      }
    }
    ul.nav.navbar-nav.menu-main-member{
      @include mobile{
        padding-bottom: 10px;
        border-top: 1px solid #fff;
        padding-top: 10px;
      }
      li{
        span{
          @include mobile{
              font-size: 14px;
          }
        }
      }
    }
  }  
}

#carousel-example-generic{
  .carousel-inner{
    .item{
      img{
        @include mobile{
          height: 50vh;
          max-width:initial;
          border:0;
        }
      }
      .carousel-caption{
        left: 20%;
        top: 20%;
        bottom: 20%;
        text-align: right;
        @include mobile{
          left: 5%;
          top: 5%;
          bottom: 5%;
          right: 5%;
          text-align: left;
          padding-top:10px;
        }
        
        h2{
          font-size: 32px;font-weight: bold;margin-top: 0;font-family: georgia;
          @include mobile{
            font-size:24px;
            margin:0;
            margin-bottom:20px;
            line-height:initial;
          }
        }
        h3{
          font-size: 24px;margin-top: 2rem;margin-bottom: 2rem;
          @include mobile{
            font-size:18px;
            margin:0;
            margin-bottom:10px;
          }
        }
        h4{
          font-size: 24px;
          @include mobile{
            font-size:18px;
            margin:0;
            margin-bottom:10px;
          }
        }
        .button-primary.cta-home{
          background: transparent;
          padding: 15px 30px;
          border: 2px solid white;
          text-shadow: none;  
        }
      }
    }
    
    @include mobile{
      width: auto;
      height: 50vh;
    }
  }
  @include mobile{
    margin-bottom:20px;
    margin-top: 1px;
  }
}

.home-last-feature{
  @include mobile{
    text-align:center;
  }
  .area-picture{
    @include mobile{
      height: 200px !important;
    }
  }
}

.play-button {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  .pb-border-1 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.2);
  }

  .pb-border-2 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.5);
  }

  .fas {
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 32px;
    border-radius: 50%;
    background: #ffd700;
    color: #fff;
    display: block;
  }
}

.why-choose-tiket{
  @include mobile{
    background-size:cover;
    padding:40px 0px;
  }
  h2{
    @include mobile{
      font-size: 21px;
    }
  }
  i.fas, i.far{
    font-size:50px;
    @include mobile{
        font-size: 42px;
    }
  }
}

.tix-point-highlight{
  .point-item{
    a{
      .button-primary{
        font-size:14px;
        width:calc(100% - 30px);
        padding:5px;
        max-width:250px;
      }
    }
  }
  h3{
      color: #ff7200;
      margin-bottom: 10px;
  }
  p{
    @include mobile{
      padding:0;
    }
  }
  @include mobile{
    padding-bottom:40px;
    border-bottom: 1px solid #eee;
  }
}

.official-partner-mix {
  @include mobile{
    margin-bottom: 40px;
  }
  .a1{
    @include mobile{
      overflow:auto;
    }
    .icon-partner-list{
      @include mobile{
        width: 1700px;
      }
    }
  }
}

footer{
  hr{
    padding-right:0 !important;
    padding-left:0 !important;
  }
  
  .footer-rich-menu{
    .customer-care{
      margin-top:30px;
    }
  }
  
  .seo{
    column-count: 3;
    column-gap: 60px;
    color: #888;
    text-align:justify;
    
    @include mobile{
      column-count:initial;
    }
  }
}

/*********************
* override blog post
**********************/
#blog{
  padding-top:40px;
  padding-bottom:80px;
  h1,h2{
    font-weight:bold;
  }
  h1{
    font-size:32px;
    margin-top:0;
    color:darkgreen;
  }
  h2{
    font-size:24px;
    margin-bottom:30px;
    color:#333;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
    @include mobile{
      margin-bottom:20px;
    }
  }
  h3{
    font-size:21px;
  }
  small,p{
    margin-bottom:40px;
  }
  p{
    font-size:16px;
    color:#666;
    line-height:24px;
    img{
      max-width: 100%;
      padding: 3%;
      background: #f9f9f9;
    }
  }
  small{
    display:inline-block;
    font-size:13px;
  }
}

/*********************
* override static & pages
**********************/


div[id*='static-'],
div[id*='page-']{
  margin-top:40px;
  margin-bottom:40px;
  h1{
    font-size:26px;
    text-transform: capitalize;
    margin-bottom:40px;
    font-weight:bold;
  }
  h2{
    font-size:21px;
    font-weight:bold;
    margin-bottom:20px;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding:0;
  }
  ol li {
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: green;
  }
}
#static-syarat{
  hr{
    margin-top:40px;
    margin-bottom:40px
  }
}

.section-items {
    position: relative;
    .item-title {
        font-size: 15px;
        line-height: 1.2;
        color: #222;
    }
    .item-desc {
        font-size: 13px;
        line-height: 1.38;
        color: #666;
    }
    a {
        cursor: pointer;
    }
}

.tix-row {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    a{
      display:block;
      span{
        display:block;
      }
      .item-title{
        font-weight:bold;
      }
      .item-desc{
        color:green !important;
        small{
          font-size:100%;
          display:block;
          color:#666;
        }
      }
    }
}

.tix-row,
.tix-row-nowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
  
}

.tix-row-nowrap {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

/*********************
* override tour page
**********************/

.mb-40{margin-bottom:40px}
.section-features .a1{margin-bottom:40px}
.section-features .a1 .img-responsive{padding:1rem; background: #eee}
.section-items a{text-align:center}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
