---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/************************
* RIBBON
**********************/
.btn-red{
	background: orangered;
	padding: 10px 15px;
	border: 2px solid white;
	text-shadow: none;
	font-weight: bold;
	opacity: 1;
}
.btn-red:hover{
	background:red;
	border-color:red;
}

.ribbon{
	color: #fff;
	margin: 20px 0;
	position: absolute;
	text-transform: uppercase;
	background: orangered;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 1px 3px rgba(0,0,0,.2);
	padding: 10px 20px;
	clear: both;
	z-index:1;
	span{
		font-size:12px;
		font-weight:bold;
	}
}
 
div.right_ribbon{
	color: #fff;
	right:5px;
}
 
div.right_ribbon h2{
	margin: 0 12px;
}
 
div.right_ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	right: -1px;
	content: "";
	border-bottom: 10px solid transparent;
	border-left: 10px solid #333;
}

/*********************
* HOMEPAGE
**********************/

#homepage{
  h2{
	font-weight:bold;
  	margin-top:0;
  }
}

.button-primary{
	opacity:0.9;	
}
.button-primary:hover{
	background:forestgreen;
	border-color:green;
	opacity:1;
}

.row{
  .col-xs-6:nth-child(odd){
    @include mobile{
      padding-right:7px;
    }
  }
  .col-xs-6:nth-child(even){
    @include mobile{
      padding-left:7px;
    }
  }
}

header {
	border-bottom:1px solid #fff;
	#izin{
    background: gold;
    border-top: 1px solid #fff;
    color: darkgreen;
	}
  .navbar-header{
    img{
      @include mobile {
        width: 95%;
        height: auto;
        margin-top:5px;
      }
    }
    
    @include mobile {
      width:50%; 
    }
  }
  
  .navbar-header.pull-right {
      .navbar-brand.tematic{
        font-weight: bold;
        font-size: 24px;
        color: green;
        line-height: normal;
        height: auto;
        margin-top: 0;
        
        @include mobile {
          font-size:18px;
          display: block;
          width: 100%;
          text-align: right;
        }
			}
	}
}

#nav--bottom {
  .container{
    @include mobile{
      padding:0;
    }
  }
  nav{
    ul.nav.navbar-nav{
      @include mobile {
        width: 100%;
        margin: 0;
        text-align: center;
      }
    }
    ul.nav.navbar-nav.menu-main{
      li{
        a{
          @include mobile{
            font-size: 18px;
          }
        }
      }
    }
    ul.nav.navbar-nav.menu-main-member{
      @include mobile{
        padding-bottom: 10px;
        border-top: 1px solid #fff;
        padding-top: 10px;
      }
      li{
        span{
          @include mobile{
              font-size: 14px;
          }
        }
      }
    }
  }  
}

#carousel-example-generic{
  .carousel-inner{
    .item{
      img{
        @include mobile{
          height: 50vh;
          max-width:initial;
          border:0;
        }
      }
      .carousel-caption{
        left: 20%;
        top: 20%;
        bottom: 20%;
        text-align: right;
        @include mobile{
          left: 5%;
          top: 5%;
          bottom: 5%;
          right: 5%;
          text-align: left;
          padding-top:10px;
        }
        
        h2{
          font-size: 32px;
          font-weight: bold;
          margin-top: 0;
          @include mobile{
            font-size:24px;
            margin:0;
            margin-bottom:20px;
            line-height:initial;
          }
        }
        h3{
          font-size: 24px;margin-top: 2rem;margin-bottom: 2rem;
          @include mobile{
            font-size:18px;
            margin:0;
            margin-bottom:10px;
          }
        }
        h4{
          font-size: 24px;
          @include mobile{
            font-size:18px;
            margin:0;
            margin-bottom:10px;
          }
        }
        .button-primary.cta-home{
          background: orangered;
          padding: 15px 30px;
          border: 2px solid white;
          text-shadow: none;
          font-weight:bold;
		opacity:1;
        }
      }
    }
    
    @include mobile{
      width: auto;
      height: 50vh;
    }
  }
  @include mobile{
    margin-bottom:20px;
    margin-top: 1px;
  }
}

.home-last-feature{
  @include mobile{
    text-align:center;
  }
  .area-picture{
    @include mobile{
      height: 200px !important;
    }
  }
	.button-primary{
		font-size:14px;
		font-weight:bold;
	}
}

.play-button {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  .pb-border-1 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.2);
  }

  .pb-border-2 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(255,215,0, 0.5);
  }

  .fas {
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 32px;
    border-radius: 50%;
    background: #ffd700;
    color: #fff;
    display: block;
  }
}

.why-choose-tiket{
  @include mobile{
    background-size:cover;
    padding:40px 0px;
  }
  h2{
    @include mobile{
      font-size: 21px;
    }
  }
  i.fas, i.far{
    font-size:50px;
    @include mobile{
        font-size: 42px;
    }
  }
}

.tix-point-highlight{
  .point-item{
    a{
      h3{
        font-weight: bold;
        margin-bottom: 5px;
      }
      .button-primary{
        font-size:14px;
        width:calc(100% - 30px);
        padding:5px;
        max-width:250px;
      }
    }
  }
  h3{
      color: #ff7200;
      margin-bottom: 10px;
  }
  p{
    @include mobile{
      padding:0;
    }
  }
  @include mobile{
    padding-bottom:40px;
    border-bottom: 1px solid #eee;
  }
}

.official-partner-mix {
  @include mobile{
    margin-bottom: 40px;
  }
  .a1{
    @include mobile{
      overflow:auto;
    }
    .icon-partner-list{
      @include mobile{
        width: 1700px;
      }
    }
  }
}

.why-row{
	i{
		font-size: 14px;
		background: green;
		color: #fff;
		padding: 10px;
		border-radius: 50%;
		margin-right: 10px;
	}
}

footer{
  hr{
    padding-right:0 !important;
    padding-left:0 !important;
  }
  
  .footer-rich-menu{
    .customer-care{
      margin-top:30px;
    }
  }
  
  .seo{
    column-count: 3;
    column-gap: 60px;
    color: #888;
    text-align:justify;
    
    @include mobile{
      column-count:initial;
    }
  }
}

/*********************
* override blog post
**********************/
#blog{
  padding-top:40px;
  padding-bottom:80px;
  h1,h2{
    font-weight:bold;
  }
  h1{
    font-size:32px;
    margin-top:0;
    color:darkgreen;
  }
  h2{
    font-size:24px;
    margin-bottom:30px;
    color:#333;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
    @include mobile{
      margin-bottom:20px;
    }
  }
  h3{
    font-size:21px;
  }
  small,p{
    margin-bottom:40px;
  }
  p{
    font-size:16px;
    color:#666;
    line-height:24px;
    img{
      max-width: 100%;
      padding: 3%;
      background: #f9f9f9;
    }
  }
  small{
    display:inline-block;
    font-size:13px;
  }
}

/*********************
* override static & pages
**********************/


div[id*='static-'],
div[id*='page-']{
  margin-top:40px;
  margin-bottom:40px;
  h1{
    font-size:26px;
    text-transform: capitalize;
    margin-bottom:40px;
    font-weight:bold;
  }
  h2{
    font-size:21px;
    font-weight:bold;
    margin-bottom:20px;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
    li{
      font-size:16px;
      line-height:24px;
    }
  }
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    counter-increment: my-awesome-counter;
    font-size:16px;
    line-height:24px;
    margin-bottom:6px;
  }
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: green;
    font-weight: bold;
    margin-right: 10px;

  }
  hr{
    margin-top:40px;
    margin-bottom:40px
  }
}

.section-items {
    position: relative;
    .item-title {
        font-size: 15px;
        line-height: 1.2;
        color: #222;
    }
    .item-desc {
        font-size: 13px;
        line-height: 1.38;
        color: #666;
    }
    a {
        cursor: pointer;
    }
}

.tix-row {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    a{
      display:block;
      margin-bottom:40px;
      @include mobile{
        margin-bottom:20px;
      }
      span{
        display:block;
      }
      .item-title{
        font-weight:bold;
      }
      .item-desc{
        color:green !important;
        font-size:16px;
        margin-top:5px;
        small{
		font-size:13px;
		display:block;
		color:#666;
		width:60%;
		margin:auto;
		margin-top:5px;
		text-transofrm:capitalize;
		@include mobile{
			width:100%;
		}
        }
      }
    }
}

.tix-row,
.tix-row-nowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
  
}

.tix-row-nowrap {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

/*********************
* override tour page
**********************/

.mb-40{margin-bottom:40px}
.section-features .a1{margin-bottom:40px}
.section-features .a1 .img-responsive{padding:1rem; background: #eee}
.section-items a{text-align:center}

/*********************
* override layanan page
**********************/

#page-tour,
#page-layanan{
    .tix-point-highlight p{padding:0;margin-bottom:0}
    .layanan{
        overflow: hidden;
        position:relative;
        display:block;
				p,ol{
					display:none;
				}
				h5{
					margin-bottom: 40px;
				}
    }
    .layanan > p:nth-child(1){
        height: 250px;
        margin-bottom:20px;
        display:block;
        overflow:hidden;
    }
    
    .layanan > p img{
        position: relative;
        top: 125px;
        width: 100%;
        transform: translateY(-50%);
    }
}

/*********************
* override paket page
**********************/

#paket{
	margin-top: 40px;
	margin-bottom: 40px;
	h1{
		font-size: 26px;
		text-transform: capitalize;
		margin-bottom: 40px;
		font-weight: bold;
	}
	h2{
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	p{
		margin-bottom:20px;
	}
	.a1-content{
		margin-bottom:40px;
		p img{
			display:none;
		}
	}
	.a1-hotel{
		margin-bottom:40px;
		p img{
			display:none;
		}
	}
	.b1 {
		background: cornsilk;
		padding: 15px;
		margin-bottom: 30px;
		h2 {
		    padding: 15px;
		    background: green;
		    color: #fff;
		    font-size: 18px;
		    margin: -15px;
		    margin-bottom: 15px;
		}
		.btn-red{
			width:100%;
		}
	}
	.bharga{
		span{
			font-size: 34px;
			line-height: 49px;
			color: darkorange;
		}
		small{
			color: darkorange;
			font-size: 100%;
		}
	}
	.carousel{
		background:transparent;
	    	border: 5px solid white;
		box-shadow: 0px 0px 5px #ccc;
		.carousel-inner > .item > img{
			width:100%;
		}
		.carousel-control{
			.fas{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	.a1-hotel{
		.panel{
			display:none;
		}
	}
}

.panel{
	margin-bottom:40px;
	box-shadow: 0px 0px 5px #ddd;
	.panel-heading{
		font-weight: bold;
		padding: 15px;
		border-bottom: 1px solid #eee;
		background: #eee;
	}
	.panel-body{
		padding: 15px;
	}
}

.need-help{
	display:block;
	position:relative;
	span.no-wa{
		line-height: 75px;
		display: block;
		position: absolute;
		top: 0;
		left: 85px;
		font-size:24px;
		color:darkorange;
	}
}

.make-it-round{
	display: inline-block;
	width: 75px;
	overflow: hidden;
	height: 75px;
	border-radius: 50%;
	img{
		height: 102%;
	}
}

/*********************
* override page haji
**********************/

#page-haji{
	.tix-point-highlight {
		.point-item{
			a{
				.c1 > *{
					display:none
				}
				.c1{
					p:nth-child(1){
						padding: 0;
						margin-bottom: 0;
						display:block;
					}
				}
			}
		}
	}

  ul{
    list-style:unset;
    list-style-position: inside;
    font-size:16px;
    line-height: 24px;
    li:before {
      content:"\2714\0020";
      color: green;
      margin-right: 10px;
    } 
  }
}

#perbandingan-haji{
  width:100%;
  border: 1px solid #ccc; 
  thead{
    tr{
      td{
        background: green;
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding:1rem;
        font-weight:bold;
        width:33.3%;
      }
    }
  }

  tbody{
    tr{
        border-bottom: 1px solid #ccc;
        td{
          width:33.3%;
          text-transform: capitalize;
          text-align: center;
          padding:1rem;
        }
        td:first-child{
          background: #f9f9f9;
          border-right:1px solid #ccc;
          font-weight:bold;
        }
    }
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
