<div class="section-items">
    <div class="container">
        <h2 class="text-center">Marketing Partner MARCO</h2>
        <p class="text-center mb-40">Daftar marketing partner kami dimana anda dapat membeli paket haji Khusus furoda non kuota:</p>
        <div class="tix-row">
            {% for agen in site.agen %}
            <a class="col-xs-6 col-sm-6  col-md-4" href="https://api.whatsapp.com/send?phone={{agen.agenwa}}&text=Assalamualaikum%20Marco%20Umrah">
                <span class="item-title tix-mb-025">{{ agen.title }}</span>
                <span class="item-desc"><i class="fab fa-whatsapp"></i> {{ agen.agenwa }}<small>{{ agen.agenalamat | capitalize }}</small></span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
