<div class="section-items">
    <div class="container">
        <h3 class="text-center">Marketing Partner MARCO</h3>
        <p class="text-center">Daftar marketing partner kami dimana anda dapat membeli paket haji Khusus furoda non kuota:</p>
        <div class="tix-row">
            {% for agen in site.agen %}
            <a class="col-xs-12 col-sm-6" href="">
                <span class="item-title tix-mb-025">{{ agen.title }}</span>
                <span class="item-desc">{{ agen.agenwa }}<small>{{ agen.agenalamat }}</small></span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
