<form class="form-horizontal">
<fieldset>
<!-- Select Basic -->
<div class="form-group mb-20">
  <label class="col-xs-12" for="selectbasic">Paket</label>
  <div class="col-xs-12">
    <select id="selectbasic" name="selectbasic" class="form-control" disabled>
      <option value="1">{{page.title}}</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group mb-20">
  <label class="col-xs-12" for="textinput">Jumlah Jamaah</label>  
  <div class="col-xs-12">
  <input id="textinput" name="textinput" type="text" placeholder="2 (contoh)" class="form-control input-md">
  <small class="help-block pull-right">Harga tidak mengikat</small>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group mb-20">
  <label class="col-xs-12" for="selectbasic">Keberangkatan</label>
  <div class="col-xs-12">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="{{ site.time | date: '%m' }}">{{ site.time | date: '%B' }}</option>
      <option value="{{ site.time | date: '%m' }}">{{ site.time | date: '%B' }}</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="hidden col-md-4" for="singlebutton"></label>
  <div class="col-xs-12">
    <a href="https://api.whatsapp.com/send?phone={{site.wa}}&text=Assalamualaikum%20Marco%20Umrah" id="singlebutton" name="singlebutton" class="btn btn-primary pull-right btn-red">Rencanakan <i class="fas fa-arrow-right"></i></a>
  </div>
</div>

</fieldset>
</form>
