<div class="section-items">
    <div class="container">
        <h2 class="text-center">Cabang MARCO</h2>
        <p class="text-center mb-40">Daftar kantor cabang kami dimana anda dapat membeli paket haji Khusus furoda non kuota:</p>
        <div class="tix-row">
            {% for kacab in site.cabang %}
            <a class="col-xs-12 col-sm-6" href="">
                <span class="item-title tix-mb-025">{{ kacab.title }}</span>
                <span class="item-desc">{{ kacab.cabangwa }}<small>{{ kacab.cabangpic }}</small></span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
