<footer>
    <div class="container">
        <div class="footer-rich-menu">
            <div class="row">
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="footer-part-box">
                                <p class="title">Perusahaan</p>
                                <ul>
                                    <li>
                                        <a href="/blog/" title="Blog" target="_blank">Blog </a>
                                    </li>
                                    <li>
                                        <a href="/menjadi-agen-umrah.html" title="Daftarkan Hotel Anda" target="_blank">Daftarkan Agen Anda </a>
                                    </li>
                                    <li>
                                        <a href="" title="Cicilan" target="_blank">Cicilan </a>
                                    </li>
                                    <li>
                                        <a href="/jaminan-umrah.html" title="Perlindungan" target="_blank">Perlindungan </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="footer-part-box">
                                <p class="title">Bantuan</p>
                                <ul>
                                    <li>
                                        <a href="/pertanyaan-umrah.html" title="FAQ" target="_blank">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="/kebijakan-pelanggan.html" title="Kebijakan dan Privasi" target="_blank">Kebijakan dan Privasi </a>
                                    </li>
                                    <li>
                                        <a href="/syarat-ketentuan-umrah.html" title="Syarat dan Ketentuan" target="_blank">Syarat dan Ketentuan </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 pull-right">
                    <div class="customer-care clearfix">
                        <img src="{{site.baseurl}}/images/marco-cs.png" width="100%" alt="" style="margin-left: 6px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-part">
        <div class="container">
            <div class="social-media">
                <a href="https://www.facebook.com/tiket" target="_blank" alt="Facebook tiket.com" rel="nofollow">
                    <i class="fb"></i>
                </a>
                <a href="https://twitter.com/tiket" target="_blank" alt="Twitter tiket.com" rel="nofollow">
                    <i class="tw"></i>
                </a>
                <a href="https://plus.google.com/+tiket" target="_blank" alt="Google+ tiket.com" rel="nofollow">
                    <i class="gp"></i>
                </a>
                <a href="https://www.linkedin.com/company/2439131" target="_blank" alt="Linkedin tiket.com" rel="nofollow">
                    <i class="in"></i>
                </a>
                <a href="https://www.youtube.com/user/tiketdotcom" target="_blank" alt="Youtube tiket.com" rel="nofollow">
                    <i class="yt"></i>
                </a>
            </div>
            <div class="copyright">
                <h4>PT. MARCO Tour & Travel</h4>
                <a href="https://www.blibli.com/?utm_source=tiketdotcom&amp;utm_medium=refpartner&amp;utm_campaign=Referral_Tiketdotcom" target="_blank" rel="nofollow">
                    <div class="blibli-company"></div>
                </a>
                <p>© 2011-2018 PT. MARCO Tour & Travel. All Rights Reserved</p>
            </div>
        </div>
    </div>

</footer>
