<header style="margin-top: 0px;">
    <div class="container">
        <nav class="navbar navbar-default" style="padding:5px 0">
            <div class="navbar-header pull-left">
                <a class="navbar-brand tematic" href="/"><img src="{{site.baseurl}}/images/marco-umrah-haji-logo.png" height="90%" /></a>
            </div>
    <div class="navbar-header pull-right" style="padding-top: 5px;">
                <small style="font-weight: bold;display: block;text-align: right;">Hubungi kami:</small>
      <a class="navbar-brand tematic" href="/" style="font-weight: bold;font-size: 24px;color: green;line-height: normal;height: auto;margin-top: 0;"><i class="fas fa-phone-volume"></i> (021) 8576-343</a>
            </div>
        </nav>
    </div>
    <div id="nav--bottom" style=" background: gold;">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="">
                    <ul class="nav navbar-nav menu-main">
                        {% if page.thispage == "umrah" %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/" title="Penyelenggara Umrah">Umrah </a>
                        </li>
                        {% if page.thispage == "haji" %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/penyelenggara-haji/" title="Penyelenggara Haji">Haji </a>
                        </li>
                        {% if page.thispage == "tour" %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/tour-travel-syariah/" title="Penyelenggara Tour Syariah">Tour </a>
                        </li>
                        {% if page.thispage == "visa" %}<li class="active">{% else %}<li>{% endif %}
                            <a href="/penyedia-visa-haji-umrah/" title="Penyedia Visa">Visa </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right menu-main-member">
                        <li>
                            <span><strong>SENIN - JUM’AT</strong> 9:00 - 21:00 <strong>SABTU</strong> 9:00 - 18:00</span>
                        </li>
                        <li class="hide">
                            <a href="/check-order" class="#js-popup-form">Cek Pesanan</a>
                        </li>
                        <li class="pos-relative hide">
                            <a rel="nofollow" class="button-secondary" href="/login" title="Log In">Log In </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
