<div class="official-partner-mix">
    <h3>Partner MARCO Umrah</h3>
    <div class="icon-partner-list">
        <a href="/" alt="Umrah Menggunakan Garuda Indonesia"><i class="icon-partner q1"></i></a>
        <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q3"></i></a>
        <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q3"></i></a>
        <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q4"></i></a>
        <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q5"></i></a>
        <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q6"></i></a>
    </div>
    <a href="https://www.tiket.com/partners" class="hidden button-primary ghost-primary">Selengkapnya</a>
    <h3>Group MARCO Umrah</h3>
    <i class="icon-bank"></i>
</div>
