<div class="official-partner-mix">
    <h3>Partner MARCO Umrah</h3>
    <div class="icon-partner-list">
        <a href="/" alt="Tiket Pesawat Garuda Indonesia"><i class="icon-partner garuda"></i></a>
        <a href="/" alt="Tiket Pesawat Citilink"><i class="icon-partner citilink"></i></a>
        <a href="/" alt="Tiket Pesawat Malaysia Airlines"><i class="icon-partner malaysia"></i></a>
        <a href="/" alt="Tiket Kereta Api Indonesia (KAI)"><i class="icon-partner keretaapi"></i></a>
        <a href="/" alt="Booking Hotel Aston International"><i class="icon-partner astoninternational"></i></a>
        <a href="/" alt="Booking Hotel Santika Indonesia Hotels Resorts"><i class="icon-partner santika"></i></a>
        <a href="/" alt="tiket kidzania jakarta"><i class="icon-partner kidzania"></i></a>
    </div>
    <a href="https://www.tiket.com/partners" class="hidden button-primary ghost-primary">Selengkapnya</a>
    <h3>Group MARCO Umrah</h3>
    <i class="icon-bank"></i>
</div>
