<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{site.baseurl}}/images/main-banner.jpg">
            <div class="carousel-caption">
                <h2>LEBIH DARI 100.000 JAMAAH, 500.000 VISA<br> &amp; 50.000 KEBERANGKATAN</h2>
                <h3>Mempercayakan amanahnya kepada kami. Umrah terpercaya sejak 2004</h3>
                <br/>
                <a href="" class="button-primary cta-home">BOOK KEBERANGKATAN <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/images/main-banner-2.jpg">
        </div>
  <!--
  <div class="item">
    <img src="https://static.tiket.photos/image/upload/v1535345052/banner/2018/08/27/510b013a-7646-493f-adb8-2746a73a7b1c93e268f73802cfc67d78a9a51ef21c3e.jpg" alt="...">
    <div class="carousel-caption">
      Lorem ipsum dollor imet 2
    </div>
  </div>
  <div class="item">
    <img src="https://static.tiket.photos/image/upload/v1534461605/banner/2018/08/17/89170820188b8fa73236be942b28c85b0e234d612d.jpg" alt="...">
    <div class="carousel-caption">
      Lorem ipsum dollor imet 3
    </div>
  </div>
  -->
    </div>

    <!-- Controls
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <i class="fas fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a> -->
</div>
