  		<!-- Start .testimonials-section -->
		<div class="section-items testimonials-section slight-yellow" id="reviews">
			<div class="container">
				<div class="row">
					<h2 class="text-center">Testimoni Jamaah</h2>
					<p class="text-center mb-40">Apa kata mereka yang sudah menjalankan ibadah ke tanah suci.</p>
				</div><!-- .section-head -->
				<div class="row testimonials-list">
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="{{site.baseurl}}/uploads/testimoni-muhamad-abdul-basyid.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Ardian<small>Chef, Indonesia</small></h5>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>The first apps to accommodate diving trips, easy to use and have great potential in the future to explore more diving sites in Indonesia</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="{{site.baseurl}}/uploads/testimoni-muhamad-abdul-basyid.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Grace<small>Manager, Taiwan</small></h5>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>It was a fascinating Padi Open Water course experience, with full experienced coach team who made the whole lesson more interesting and easy on hand, and the location “wreck liberty” for the very first dive is just amazing! Finally we got the license and in love with diving 😍</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="{{site.baseurl}}/uploads/testimoni-muhamad-abdul-basyid.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Ivan<small>Student, United Kingdom</small></h5>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>The Eco-Trip encouraged us to actively care about the ocean. It was a great great trip and hope it could be a trailblazing movement for making our ocean clean.</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="{{site.baseurl}}/uploads/testimoni-muhamad-abdul-basyid.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Ivan<small>Student, United Kingdom</small></h5>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>The Eco-Trip encouraged us to actively care about the ocean. It was a great great trip and hope it could be a trailblazing movement for making our ocean clean.</blockquote>
							</div>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .testimonials-section -->
