  		<!-- Start .testimonials-section -->
		<div class="section-items testimonials-section slight-yellow" id="reviews">
			<div class="container">
				<div class="row">
					<h2 class="text-center">Testimoni Jamaah</h2>
					<p class="text-center mb-40">Apa kata mereka yang sudah menjalankan ibadah ke tanah suci.</p>
				</div><!-- .section-head -->
				<div class="row testimonials-list">
					{% for testimoni in site.testimonials limit:8%}
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="{{site.baseurl}}{{testimoni.image}}" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>{{testimoni.title}}<small>{{testimoni.kloter}}</small></h5>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>{{testimoni.content}}</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					{% endfor %}
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .testimonials-section -->
