<div class="why-choose-tiket">
    <div class="container">
        <h2>Mengapa umrah di MARCO</h2>
        <p></p>
        <div class="row">
            <div class="col-xs-3">
                <i class="fas fa-passport"></i>
                <h3>VISA issuer terbesar<br> di Indonesia</h3>
            </div>
            <div class="col-xs-3">
                <i class="far fa-clock"></i>
                <h3>Lebih pasti dalam <br/> pemberangkatan</h3>
            </div>
            <div class="col-xs-3">
                <i class="fas fa-comments-dollar"></i>
              <h3>Jaminan Pembayaran <br/> Aman &amp; Mudah</h3>
            </div>
            <div class="col-xs-3">
                <i class="fas fa-headset"></i>
                <h3>Layanan<br>Pelanggan 24/7</h3>
            </div>
        </div>
    </div>
</div>
