<div class="why-choose-tiket">
    <div class="container">
        <h2>Mengapa umrah di MARCO</h2>
        <p></p>
        <div class="row">
            <div class="col-xs-3">
                <i class="why-icon"></i>
                <h3>VISA issuer terbesar di Indonesia</h3>
            </div>
            <div class="col-xs-3">
                <i class="why-icon wi2"></i>
                <h3>Lebih pasti dalam pemberangkatan</h3>
            </div>
            <div class="col-xs-3">
                <i class="why-icon wi3"></i>
                <h3>Jaminan Pembayaran Online Aman &amp; Mudah</h3>
            </div>
            <div class="col-xs-3">
                <i class="why-icon wi4"></i>
                <h3>Layanan<br>Pelanggan 24/7</h3>
            </div>
        </div>
    </div>
</div>
