---
title: MARCO Haji Penyelenggara Haji Terpercaya
permalink: "/penyelenggara-haji/"
layout: page
thispage: haji
---

<div class="section-paragraph">
    <div class="container">
        <h1 class="text-center">MARCO Penyelenggara Haji Furoda Terpercaya</h1>
        <p class="text-center">MARCO Haji merupakan pelopor haji furoda Syariah di Indonesia yang sudah dipercayai sejak tahun 2002. Pilihan yang tepat untuk melaksanakan Haji yang sunnah dengan aman dan terpercaya. Insya Allah, tercapai kualitas haji yang Mabrur (baik).</p>
    </div>
</div>
<div class="section-paragraph slight-yellow">
    <div class="container">
        <div>
            <h2 class="text-center">Paket Haji Furoda Non Kuota 2019</h2>
            <p class="text-center mb-40">MARCO Haji menawarkan paket haji non kuota tanpa antrian langsung menuju keberangkatan.</p>
        </div>
        <div class="row">
            <div class="tix-point-highlight col-xs-12" style="padding:0;">
                {% assign layanans = site.paket | where: 'categories', 'haji' | sort:"date" | reverse %}
                {% for layanan in layanans %}
                    <div class="col-xs-12 col-sm-4" id="{{ layanan.title | replace: ' ', '--' | downcase  }}">
                        <div class="point-item">
                            <a href="{{ layanan.permalink }}">
                                <div class="c1">
                                    {{ layanan.content }}
                                </div>
                                <h4>{{ layanan.title }}</h4>
                                {% if layanan.hargausd %}
                                    <h3>{{ layanan.hargausd }} USD</h3>
                                {% else %}
                                    <h3 class="harga">{{ layanan.harga }}</h3>
                                {% endif %}
                                <p>Satu kamar {{ layanan.paxroom }} orang</p>
                                <span class="button-primary">BOOK</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2 class="text-center">Fasilitas Utama</h2>
            <p class="text-center mb-40">MARCO haji selalu memberikan yang terbaik di kelasnya</p>
            <div class="col-xs-6">
                <h4>Beberapa fasilitas yang sudah termasuk, terdiri dari:</h4>
                <ul>
                    <li>Tiket Pesawat.</li>
                    <li>Hotel Sesuai Paket.</li>
                    <li>Visa Haji.</li>
                    <li>Ziarah.</li>
                    <li>Makan 3 x sehari.</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <h4>Beberapa fasilitas yang tidak termasuk, terdiri dari:</h4>
                <ul>   
                    <li>Tiket domestik.</li>
                    <li>Kelebihan bagasi.</li>
                    <li>Kehilangan barang berharga.</li>
                    <li>Kelalaian jamaah lainnya.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section-features">
    <div class="tix-column-nowrap tix-flex-center container tix-border-bottom tix-py-225">
        <h2 class="text-center">Mengapa Haji Furoda di MARCO</h2>
        <p class="text-center mb-40">Haji yang menggunakan visa tersendiri, visa furoda. Haji Furoda hanya terdiri dari satu paket. Untuk Haji Furoda, bisa di pesan langsung di Agent. Keunggulan yang bisa di dapat dari paket ini yaitu tanpa antri.</p>
        <div class="row">
            <div class="a1 col-md-4">
                <div>
                    <div>
                        <h4><strong>Pemberangkatan Sesuai Jadwal</strong></h4>
                    </div>
                    <p>Mempunyai impian untuk berangkat haji tepat waktu adalah impian dari para calon jemaah haji. Maka dari itu, MARCO Haji menyediakan jadwal pemberangkatan sesuai dengan yang direncanakan oleh calon jemaah, dan terjamin keselamatan sampai tujuan.</p>
                </div>
            </div>
            <div class="a1 col-md-4">
                <div>
                    <div>
                        <h4><strong>Layanan Berkualitas</strong></h4>
                    </div>
                    <p>Untuk melaksanakan perjalanan haji, pastinya sudah terancang dengan sendirinya oleh para jemaah. Dengan itu, penyediaan layanan dari MARCO Haji terjamin akan kualitasnya bagi para jemaah untuk menyempurnakan perjalanan haji Anda.</p>
                </div>
            </div>
            <div class="a1 col-md-4">
                <div>
                    <div>
                        <h4><strong>Terpercaya dan Aman</strong></h4>
                    </div>
                    <p>Saat adanya perancangan dalam perjalanan haji, Anda tidak perlu merasa cemas dan khawatir akan mengurus banyak hal. Karena MARCO Haji akan memudahkan Anda dalam pengurusan secara menyeluruh dan sudah terpercaya, aman akan secara keseluruhan sehingga Anda dapat melaksanakan haji tanpa adanya keraguan.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="section-partners">
    <div class="official-partner-mix container tix-border-bottom">
        <h2 class="text-center">Tour & Hotel Partners</h2>
        <p class="text-center">MARCO Tour mempunyai mitra travel dan hotel syariah terbaik dan terpercaya di Indonesia dan dunia.</p>
        <div class="icon-partner-list">
            <a href="/" alt="Umrah Menggunakan Garuda Indonesia"><i class="icon-partner q1"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q2"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q3"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q4"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q5"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q6"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q7"></i></a>
            <a href="/" alt="Umrah Menggunakan "><i class="icon-partner q8"></i></a>
        </div>
    </div>
</div>
<hr>
<div class="section-paragraph">
    <div class="container">
        <h2 class="text-center">Perbedaan Haji Reguler dan Furoda </h2>
        <p class="text-center mb-40">Ketika panggilan untuk beribadah tidak dapat anda tunda-tunda lagi haji furoda menjawab permasalahan anda. Berikut mengapa haji langsung non kuota sangat populer sekarang ini</p>
        <table id="perbandingan-haji">
            <thead>
                <tr>
                    <td>Uraian</td>
                    <td>Haji Plus</td>
                    <td>Haji Furoda</td>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Masa tunggu</td>
                    <td>5-8tahun</td>
                    <td>Langsung</td>                    
                </tr>
                <tr>
                    <td>Jenis Visa</td>
                    <td>Visa Haji</td>
                    <td>Visa Haji</td>                    
                </tr>
                <tr>
                    <td>Akomodasi</td>
                    <td>Plus</td>
                    <td>Plus - VIP</td>                    
                </tr>
                <tr>
                    <td>DP</td>
                    <td>4000 USD</td>
                    <td>4000 USD</td>                    
                </tr>
                <tr>
                    <td>Pelunasan</td>
                    <td>Tahun Berangkat</td>
                    <td>Setelah Stamp Visa</td>                    
                </tr>
                <tr>
                    <td>Total Biaya</td>
                    <td>16.500 USD</td>
                    <td>24.500 USD</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
{% include branches.html %}
<hr>
{% include agents.html %}
