<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon-marco.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon-marco.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
	
	{% include header.html %}

	{% include home-slider.html %}

    <div class="container">
        <div class="row home-last-feature">
            <div class="col-xs-12 col-md-8 area-picture" style="background-image: url({{site.baseurl}}/images/main-promo.jpg);height: 400px;background-position: center center;background-size: cover;"></div>
            <div class="col-xs-12 col-md-4 area-text">
                <p class="fitur-hotel-txt">Umrah Terpercaya, Aman dan Nyaman</p>
                <p>Dapatkan diskon ekstra dari berbagai maskapai ternama dengan memesan penerbangan pergi-pulang sekaligus.</p>
                <a href="/" class="button-primary" target="_blank">Selengkapnya</a>
            </div>
        </div>

        <div class="tix-point-highlight">
            <h2>MARCO Umrah Reguler</h2>
            <p>Beribadah tanpa gelisah hati bersama MARCO reguler.</p>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-reguler.jpg">
                            <h4>Umrah Reguler</h4>
                            <h3>Rp 24.500.000</h3>
                            <p>Umrah paket 9 hari.</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-dua-jumat.jpg">
                            <h4>Umrah 2 Jumat</h4>
                            <h3>Rp 27.750.000</h3>
                            <p>Umrah paket 13 hari.</p>
                        </a>
                    </div>
                </div>
                <a href="/daftar-harga-paket-umrah-murah-reguler.html" class="button-primary ghost-primary">Selengkapnya</a>
            </div>
        </div>

        <div class="tix-point-highlight">
            <h2>MARCO Umrah Plus</h2>
            <p>Beribadah hati sekaligus merefleksikan diri bersama MARCO umrah plus.</p>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-alexandria.jpg">
                            <h4>Umrah Plus Alexandria</h4>
                            <h3>Rp 32.940.000</h3>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                            <h4>Umrah Plus Turki</h4>
                            <h3>Rp 34.400.000</h3>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-turki.jpg">
                            <h4>Umrah Plus Yordania</h4>
                            <h3>Rp 41.600.000</h3>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="point-item">
                        <a href="">
                            <img src="{{site.baseurl}}/images/paket-umrah/home/paket-umrah-murah-maroko.jpg">
                            <h4>Umrah Plus Maroko</h4>
                            <h3>Rp 35.200.000</h3>
                        </a>
                    </div>
                </div>
                <a href="/daftar-harga-paket-umrah-plus.html" class="button-primary ghost-primary">Selengkapnya</a>
            </div>
        </div>

		{% include partners.html %}
    </div>
	
	{% include why-marco.html %}

	{% include footer.html %}

    {% include analytics.html %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
